<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/signup.css">
    <title>Signup Page</title>

</head>
<body>
    
 
        <div class="container">
            <div class="home-link">
                <a href="/">← Back to Home</a>
            </div>
            <h2>Signup</h2>
            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>
      
            <form action="/user" method="POST">
                <input type="text" name="name" placeholder="Full Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button class="glow-btn" type="submit"><span>Sign Up</span></button>
            </form>
            <p class="signup-text"> Existing User? <a href="/user/login">Log In</a></p>
        </div>
    
      
</body>
</html>
